.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order .cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
    font-weight: 500;
}
.place-order .cart-total button:hover:not(:disabled) {
    background-color: #e2452c;
    transform: scale(1.02);
}
.place-order .cart-total button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.place-order-left input.error {
    border-color: #ff4444;
}
.error-message {
    color: #ff4444;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}
.place-order-left .multi-fields > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.place-order-left > div:not(.multi-fields) {
    display: flex;
    flex-direction: column;
}
@media (max-width:800px) {
    .place-order{
        flex-direction: column;
        margin-top: 50px;
    }
    .place-order-left .title{
        font-size: 27px;
    }
}